In [32]:
# data manipulation
import numpy as np
import pandas as pd

# data viz
import matplotlib.pyplot as plt

In [33]:
# mengimport data 
datamin = pd.read_csv("courses.csv")
datamin.head()

,id,title,url,rating,num_reviews,num_published_lectures,created,last_update_date,duration,instructors_id,image
0,567828,The Complete Python Bootcamp From Zero to Hero...,/course/complete-python-bootcamp/,4.592782,452973,155,2015-07-29T00:12:23Z,2021-03-14,22 total hours,9685726,https://img-c.udemycdn.com/course/750x422/5678...
1,1565838,The Complete 2023 Web Development Bootcamp,/course/the-complete-web-development-bootcamp/,4.667258,263152,490,2018-02-22T12:02:33Z,2023-01-20,65.5 total hours,31334738,https://img-c.udemycdn.com/course/750x422/1565...
2,625204,The Web Developer Bootcamp 2023,/course/the-web-developer-bootcamp/,4.696147,254711,616,2015-09-28T21:32:19Z,2023-02-12,64 total hours,4466306,https://img-c.udemycdn.com/course/750x422/6252...
3,756150,Angular - The Complete Guide (2023 Edition),/course/the-complete-guide-to-angular-2/,4.592692,180257,472,2016-02-08T17:02:55Z,2023-02-06,34.5 total hours,13952972,https://img-c.udemycdn.com/course/750x422/7561...
4,2776760,100 Days of Code: The Complete Python Pro Boot...,/course/100-days-of-code/,4.695252,177568,676,2020-01-24T10:47:21Z,2022-11-30,64 total hours,31334738,https://img-c.udemycdn.com/course/750x422/2776...

### EDA (Exploratory Data Analysis)

In [35]:
x = datamin.iloc[:, 1:4]
x

,title,url,rating
0,The Complete Python Bootcamp From Zero to Hero...,/course/complete-python-bootcamp/,4.592782
1,The Complete 2023 Web Development Bootcamp,/course/the-complete-web-development-bootcamp/,4.667258
2,The Web Developer Bootcamp 2023,/course/the-web-developer-bootcamp/,4.696147
3,Angular - The Complete Guide (2023 Edition),/course/the-complete-guide-to-angular-2/,4.592692
4,100 Days of Code: The Complete Python Pro Boot...,/course/100-days-of-code/,4.695252
...,...,...,...
83099,Was sind Subliminales und wie stelle ich sie h...,/course/was-sind-subliminales-und-wie-stelle-i...,1.500000
83100,Introduction au Piano populaire (avec symboles...,/course/arrangement-pour-piano-i-les-technique...,0.000000
83101,あい先生のピアノレッスン 親子で学ぶピアノ準備編,/course/aipiano004/,0.000000
83102,Spielerisch Gitarre Spielen Lernen Für Anfänger,/course/spielerisch-gitarre-spielen-lernen-fur...,0.000000
83103,クロマチックハーモニカをはじめる前に知っておきたいこと,/course/harmonica_beginner/,0.000000

In [36]:
y = datamin.iloc[:, 4:-2]
y

,num_reviews,num_published_lectures,created,last_update_date,duration
0,452973,155,2015-07-29T00:12:23Z,2021-03-14,22 total hours
1,263152,490,2018-02-22T12:02:33Z,2023-01-20,65.5 total hours
2,254711,616,2015-09-28T21:32:19Z,2023-02-12,64 total hours
3,180257,472,2016-02-08T17:02:55Z,2023-02-06,34.5 total hours
4,177568,676,2020-01-24T10:47:21Z,2022-11-30,64 total hours
...,...,...,...,...,...
83099,1,5,2022-12-17T12:25:46Z,2022-12-28,1 total hour
83100,0,28,2022-05-19T15:10:45Z,2022-08-25,1.5 total hours
83101,0,24,2022-05-02T13:43:00Z,2022-07-13,39 total mins
83102,0,13,2022-10-31T06:54:15Z,2022-11-28,1.5 total hours
83103,0,9,2022-02-11T08:12:45Z,2022-02-11,31 total mins

In [37]:
datamin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83104 entries, 0 to 83103
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      83104 non-null  int64
 1   title                   83104 non-null  object
 2   url                     83104 non-null  object
 3   rating                  83104 non-null  float64
 4   num_reviews             83104 non-null  int64
 5   num_published_lectures  83104 non-null  int64
 6   created                 83104 non-null  object
 7   last_update_date        83026 non-null  object
 8   duration                83104 non-null  object
 9   instructors_id          83104 non-null  int64
 10  image                   83104 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 7.0+ MB

In [38]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough') 
x = np.array(ct.fit_transform(x))

ValueError: For a sparse output, all columns should be a numeric or convertible to a numeric.